body {
    background: lightskyblue;
  }

  .title {
    margin: 0 auto;
    width: 60%;
    padding-bottom: 40px;
  }

  h1 {
    font-family: cursive;
    text-align: center;
  }
  
  #intro{
    text-align: center;
  }

  .albumname {
    font-style: italic;
  }

  .content, #upcomingshows {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px ;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
  img.albumcover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  img.myshows {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .artist {
    padding-bottom: 25px;
  }

  nav {
    text-align: center;
    background-color: white;
  }
  
  nav a {
    margin-left: 20px;
    margin-right: 20px;
  }

 p.myshows {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
 }

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }